user_interface/flows.json
[
    {
        "id": "99167e1496bf063f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a1e233bfbb6dd6c",
        "type": "junction",
        "z": "99167e1496bf063f",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "f31da75f50108204"
            ]
        ]
    },
    {
        "id": "2f3ef1148a1fd7b7",
        "type": "junction",
        "z": "99167e1496bf063f",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "941bfc3e17d7ec11",
                "b4aa9c8f96b49f6c"
            ]
        ]
    },
    {
        "id": "84325d0c572dbbcb",
        "type": "junction",
        "z": "99167e1496bf063f",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "8029dc32200e5915",
                "7692467ec5078f2f"
            ]
        ]
    },
    {
        "id": "8dbe2e592f17a131",
        "type": "junction",
        "z": "99167e1496bf063f",
        "x": 550,
        "y": 480,
        "wires": [
            [
                "c1824422f081190e",
                "ef7b740408952c97"
            ]
        ]
    },
    {
        "id": "7fe72fcf15c20afe",
        "type": "junction",
        "z": "99167e1496bf063f",
        "x": 550,
        "y": 560,
        "wires": [
            [
                "1a4a98c5a22b35c1",
                "66e2244501c56b5e"
            ]
        ]
    },
    {
        "id": "f31da75f50108204",
        "type": "junction",
        "z": "99167e1496bf063f",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "2f3ef1148a1fd7b7"
            ]
        ]
    },
    {
        "id": "992101be5063acf9",
        "type": "junction",
        "z": "99167e1496bf063f",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "31cf6df543da9ab2",
                "256f5ec09befc63f"
            ]
        ]
    },
    {
        "id": "7e9ab2558e20736a",
        "type": "ui_tab",
        "name": "Bucket Gauges",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e32ccefd26b77d31",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "blue",
                "accents": "light-blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "CMPEN482W Capstone PRJ3C",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c3d2cd9116fb1a7d",
        "type": "ui_group",
        "name": "Linear Gauges",
        "tab": "7e9ab2558e20736a",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "61de5090.0f5d9",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "261707a8ed08ee50",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "7e9ab2558e20736a",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e49ed0ebae21895",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f46aa95325abc80b",
        "type": "ui_group",
        "name": "Tracking Charts",
        "tab": "0e49ed0ebae21895",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9d6e4daef4e4408",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.4",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5705b53f.d3e0bc",
        "type": "ui_group",
        "name": "Linear Gauges",
        "tab": "64fe41f2.fdbe3",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "64fe41f2.fdbe3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "4420d261e175b3b0",
        "type": "ui_spacer",
        "z": "99167e1496bf063f",
        "name": "spacer",
        "group": "f46aa95325abc80b",
        "order": 2,
        "width": 20,
        "height": 1
    },
    {
        "id": "8b83f571408a285d",
        "type": "ui_spacer",
        "z": "99167e1496bf063f",
        "name": "spacer",
        "group": "f46aa95325abc80b",
        "order": 3,
        "width": 20,
        "height": 1
    },
    {
        "id": "dc7307ab56e89211",
        "type": "ui_spacer",
        "z": "99167e1496bf063f",
        "name": "spacer",
        "group": "f46aa95325abc80b",
        "order": 5,
        "width": 20,
        "height": 1
    },
    {
        "id": "c5d0fcfd61ee1408",
        "type": "ui_spacer",
        "z": "99167e1496bf063f",
        "name": "spacer",
        "group": "f46aa95325abc80b",
        "order": 6,
        "width": 20,
        "height": 1
    },
    {
        "id": "9a20fe4d189d2fee",
        "type": "ui_spacer",
        "z": "99167e1496bf063f",
        "name": "spacer",
        "group": "f46aa95325abc80b",
        "order": 8,
        "width": 20,
        "height": 1
    },
    {
        "id": "20c780d1e02b3954",
        "type": "ui_spacer",
        "z": "99167e1496bf063f",
        "name": "spacer",
        "group": "f46aa95325abc80b",
        "order": 9,
        "width": 20,
        "height": 1
    },
    {
        "id": "b4aa9c8f96b49f6c",
        "type": "ui_lineargauge",
        "z": "99167e1496bf063f",
        "group": "c3d2cd9116fb1a7d",
        "order": 1,
        "width": 3,
        "height": 5,
        "name": "Bucket #1",
        "colorLowArea": "#99ff99",
        "colorMidArea": "#fdff99",
        "colorHighArea": "#ff8080",
        "unit": "%",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "93cf19fd75f018f0",
        "type": "ui_text_input",
        "z": "99167e1496bf063f",
        "name": "",
        "label": "input1",
        "tooltip": "",
        "group": "261707a8ed08ee50",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "prj3c_test",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "2f3ef1148a1fd7b7"
            ]
        ]
    },
    {
        "id": "941bfc3e17d7ec11",
        "type": "ui_chart",
        "z": "99167e1496bf063f",
        "name": "",
        "group": "f46aa95325abc80b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "16c642a5a4a2c4c8",
        "type": "mqtt in",
        "z": "99167e1496bf063f",
        "name": "",
        "topic": "prj3c_test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b9d6e4daef4e4408",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "837fc147d647f1df",
                "0b91639da18b6c6e"
            ]
        ]
    },
    {
        "id": "837fc147d647f1df",
        "type": "debug",
        "z": "99167e1496bf063f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "8029dc32200e5915",
        "type": "ui_lineargauge",
        "z": "99167e1496bf063f",
        "group": "c3d2cd9116fb1a7d",
        "order": 2,
        "width": 3,
        "height": 5,
        "name": "Bucket #2",
        "colorLowArea": "#99ff99",
        "colorMidArea": "#fdff99",
        "colorHighArea": "#ff8080",
        "unit": "%",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "79ccd72e72e2083b",
        "type": "ui_text_input",
        "z": "99167e1496bf063f",
        "name": "",
        "label": "input2",
        "tooltip": "",
        "group": "261707a8ed08ee50",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "e0a7677614a1fc0e"
            ]
        ]
    },
    {
        "id": "7692467ec5078f2f",
        "type": "ui_chart",
        "z": "99167e1496bf063f",
        "name": "",
        "group": "f46aa95325abc80b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c1824422f081190e",
        "type": "ui_lineargauge",
        "z": "99167e1496bf063f",
        "group": "c3d2cd9116fb1a7d",
        "order": 3,
        "width": 3,
        "height": 5,
        "name": "Bucket #3",
        "colorLowArea": "#99ff99",
        "colorMidArea": "#fdff99",
        "colorHighArea": "#ff8080",
        "unit": "%",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "f5590d1629f069e2",
        "type": "ui_text_input",
        "z": "99167e1496bf063f",
        "name": "",
        "label": "input3",
        "tooltip": "",
        "group": "261707a8ed08ee50",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "8dbe2e592f17a131"
            ]
        ]
    },
    {
        "id": "ef7b740408952c97",
        "type": "ui_chart",
        "z": "99167e1496bf063f",
        "name": "",
        "group": "f46aa95325abc80b",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "chart3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1a4a98c5a22b35c1",
        "type": "ui_lineargauge",
        "z": "99167e1496bf063f",
        "group": "c3d2cd9116fb1a7d",
        "order": 4,
        "width": 3,
        "height": 5,
        "name": "Bucket #4",
        "colorLowArea": "#99ff99",
        "colorMidArea": "#fdff99",
        "colorHighArea": "#ff8080",
        "unit": "%",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "b735cd827523dccd",
        "type": "ui_text_input",
        "z": "99167e1496bf063f",
        "name": "",
        "label": "input4",
        "tooltip": "",
        "group": "261707a8ed08ee50",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "7fe72fcf15c20afe"
            ]
        ]
    },
    {
        "id": "66e2244501c56b5e",
        "type": "ui_chart",
        "z": "99167e1496bf063f",
        "name": "",
        "group": "f46aa95325abc80b",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "chart4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3d41f4286af8eeac",
        "type": "ui_toast",
        "z": "99167e1496bf063f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Bucket",
        "name": "",
        "x": 830,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0b91639da18b6c6e",
        "type": "switch",
        "z": "99167e1496bf063f",
        "name": "Fullness Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "80",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "4a1e233bfbb6dd6c"
            ],
            [
                "4a1e233bfbb6dd6c",
                "7026d39ee744c235"
            ]
        ]
    },
    {
        "id": "eb5896851879634c",
        "type": "change",
        "z": "99167e1496bf063f",
        "name": "Almost Full Msg Change",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bucket Monitoring",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "3d41f4286af8eeac",
                "992101be5063acf9"
            ]
        ]
    },
    {
        "id": "256f5ec09befc63f",
        "type": "e-mail",
        "z": "99167e1496bf063f",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "CMPEN482W.PRJ3C.FALL2022@gmail.com",
        "dname": "",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "31cf6df543da9ab2",
        "type": "e-mail",
        "z": "99167e1496bf063f",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "2676299549@txt.att.net",
        "dname": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "6b8b87c01294c2ac",
        "type": "function",
        "z": "99167e1496bf063f",
        "name": "function 1",
        "func": "msg.payload = \"The bucket is almost full. The current level is \" + msg.payload + \"%\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "eb5896851879634c"
            ]
        ]
    },
    {
        "id": "7026d39ee744c235",
        "type": "delay",
        "z": "99167e1496bf063f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "6b8b87c01294c2ac"
            ]
        ]
    },
    {
        "id": "e0a7677614a1fc0e",
        "type": "change",
        "z": "99167e1496bf063f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "highlimit",
                "pt": "msg",
                "to": "80",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "lowlimit",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "setpoint",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "84325d0c572dbbcb"
            ]
        ]
    }
]