user_interface/flows.json
[
    {
        "id": "d9e46407d0cb2c2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "36706b8886e291b3",
        "type": "junction",
        "z": "d9e46407d0cb2c2f",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "4fd03811daa37742"
            ]
        ]
    },
    {
        "id": "d1f020da82588770",
        "type": "junction",
        "z": "d9e46407d0cb2c2f",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "d2877c6cf6f506f6",
                "1e4e726c1ab6e425"
            ]
        ]
    },
    {
        "id": "8c04cf55fd4c5c1c",
        "type": "junction",
        "z": "d9e46407d0cb2c2f",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "22e268655515ea8b",
                "2530cdf955fc2712"
            ]
        ]
    },
    {
        "id": "5d34bc80582085fb",
        "type": "junction",
        "z": "d9e46407d0cb2c2f",
        "x": 540,
        "y": 420,
        "wires": [
            [
                "28f142ac6225e7bc",
                "5acaa6a0521b2a2f"
            ]
        ]
    },
    {
        "id": "ba0a3643cc7b6088",
        "type": "junction",
        "z": "d9e46407d0cb2c2f",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "0c2907cbddbf67ca",
                "ac84855f911593bd"
            ]
        ]
    },
    {
        "id": "4fd03811daa37742",
        "type": "junction",
        "z": "d9e46407d0cb2c2f",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "d1f020da82588770"
            ]
        ]
    },
    {
        "id": "37db7a2828b0df22",
        "type": "junction",
        "z": "d9e46407d0cb2c2f",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "08ba9c1e944e273b",
                "9bf18024de850d43"
            ]
        ]
    },
    {
        "id": "7e9ab2558e20736a",
        "type": "ui_tab",
        "name": "Bucket Gauges",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e32ccefd26b77d31",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "blue",
                "accents": "light-blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "CMPEN482W Capstone PRJ3C",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c3d2cd9116fb1a7d",
        "type": "ui_group",
        "name": "Linear Gauges",
        "tab": "7e9ab2558e20736a",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "61de5090.0f5d9",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "261707a8ed08ee50",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "7e9ab2558e20736a",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e49ed0ebae21895",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f46aa95325abc80b",
        "type": "ui_group",
        "name": "Tracking Charts",
        "tab": "0e49ed0ebae21895",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e4e726c1ab6e425",
        "type": "ui_lineargauge",
        "z": "d9e46407d0cb2c2f",
        "group": "c3d2cd9116fb1a7d",
        "order": 1,
        "width": 2,
        "height": 5,
        "name": "Bucket #1",
        "colorLowArea": "#99ff99",
        "colorMidArea": "#fdff99",
        "colorHighArea": "#ff8080",
        "unit": "%",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "74e4a938153947c0",
        "type": "ui_text_input",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "label": "input1",
        "tooltip": "",
        "group": "261707a8ed08ee50",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "d1f020da82588770"
            ]
        ]
    },
    {
        "id": "d2877c6cf6f506f6",
        "type": "ui_chart",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "group": "f46aa95325abc80b",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "chart1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a4191eed71d0debf",
        "type": "mqtt in",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "topic": "topic/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "f5e06c108523f1df",
                "05c3b8774d838c75"
            ]
        ]
    },
    {
        "id": "f5e06c108523f1df",
        "type": "debug",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "22e268655515ea8b",
        "type": "ui_lineargauge",
        "z": "d9e46407d0cb2c2f",
        "group": "c3d2cd9116fb1a7d",
        "order": 2,
        "width": 2,
        "height": 5,
        "name": "Bucket #2",
        "colorLowArea": "#99ff99",
        "colorMidArea": "#fdff99",
        "colorHighArea": "#ff8080",
        "unit": "%",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "e5d6972594fba7bd",
        "type": "ui_text_input",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "label": "input2",
        "tooltip": "",
        "group": "261707a8ed08ee50",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "8c04cf55fd4c5c1c"
            ]
        ]
    },
    {
        "id": "2530cdf955fc2712",
        "type": "ui_chart",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "group": "f46aa95325abc80b",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "chart2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "28f142ac6225e7bc",
        "type": "ui_lineargauge",
        "z": "d9e46407d0cb2c2f",
        "group": "c3d2cd9116fb1a7d",
        "order": 3,
        "width": 2,
        "height": 5,
        "name": "Bucket #3",
        "colorLowArea": "#99ff99",
        "colorMidArea": "#fdff99",
        "colorHighArea": "#ff8080",
        "unit": "%",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "510b2c75aeab5955",
        "type": "ui_text_input",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "label": "input3",
        "tooltip": "",
        "group": "261707a8ed08ee50",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "5d34bc80582085fb"
            ]
        ]
    },
    {
        "id": "5acaa6a0521b2a2f",
        "type": "ui_chart",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "group": "f46aa95325abc80b",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "chart3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0c2907cbddbf67ca",
        "type": "ui_lineargauge",
        "z": "d9e46407d0cb2c2f",
        "group": "c3d2cd9116fb1a7d",
        "order": 4,
        "width": 2,
        "height": 5,
        "name": "Bucket #4",
        "colorLowArea": "#99ff99",
        "colorMidArea": "#fdff99",
        "colorHighArea": "#ff8080",
        "unit": "%",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "22f48b9129bba8ae",
        "type": "ui_text_input",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "label": "input4",
        "tooltip": "",
        "group": "261707a8ed08ee50",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 500,
        "wires": [
            [
                "ba0a3643cc7b6088"
            ]
        ]
    },
    {
        "id": "ac84855f911593bd",
        "type": "ui_chart",
        "z": "d9e46407d0cb2c2f",
        "name": "",
        "group": "f46aa95325abc80b",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "chart4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b0232707da98e367",
        "type": "ui_toast",
        "z": "d9e46407d0cb2c2f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Bucket",
        "name": "",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "05c3b8774d838c75",
        "type": "switch",
        "z": "d9e46407d0cb2c2f",
        "name": "Fullness Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "80",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "36706b8886e291b3"
            ],
            [
                "36706b8886e291b3",
                "65e0dcb27a234531"
            ]
        ]
    },
    {
        "id": "65e0dcb27a234531",
        "type": "change",
        "z": "d9e46407d0cb2c2f",
        "name": "Almost Full Msg Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bucket Almost Full!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "b0232707da98e367",
                "37db7a2828b0df22"
            ]
        ]
    },
    {
        "id": "9bf18024de850d43",
        "type": "e-mail",
        "z": "d9e46407d0cb2c2f",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "CMPEN482W.PRJ3C.FALL2022@gmail.com",
        "dname": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "08ba9c1e944e273b",
        "type": "e-mail",
        "z": "d9e46407d0cb2c2f",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "2676299549@txt.att.net",
        "dname": "",
        "x": 670,
        "y": 60,
        "wires": []
    }
]